In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None) 
df1 = pd.read_csv("world_data_full.csv", index_col= 0)

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [3]:
df1.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

In [13]:
x = "652,230"

In [14]:
float(x.replace(",", ""))

652230.0

In [22]:
def limpieza (texto):
    reemplazo = str(texto).replace(",", "")
    return reemplazo

In [25]:
df1["land_area"].apply(limpieza)

0       652230
1        28748
2      2381741
3          468
4      1246700
        ...
190     912050
191     331210
192     527968
193     752618
194     390757
Name: land_area, Length: 195, dtype: object

In [24]:
df1["land_area"].info()

<class 'pandas.core.series.Series'>
Index: 195 entries, 0 to 194
Series name: land_area
Non-Null Count  Dtype
--------------  -----
194 non-null    object
dtypes: object(1)
memory usage: 3.0+ KB

In [26]:
lista_columnas = ["land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitude", "longitude", "density", "cpi"]

In [28]:
for col in lista_columnas:
    df1[col] = df1[col].apply(limpieza)

In [29]:
df1.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,652230,323000,32.49,93.0,Kabul,8672,149.9,2.3,AFN,4.47,2.1,0.70,19101353833,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754,48.9,9.3,71.4,11.12,9797273,33.93911,67.709953
1,Albania,105,AL,43.1,28748,9000,11.78,355.0,Tirana,4536,119.05,1.4,ALL,1.62,28.1,1.36,15278077447,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191,55.7,18.6,36.6,12.33,1747593,41.153332,20.168331
2,Algeria,18,DZ,17.4,2381741,317000,24.28,213.0,Algiers,150006,151.36,2.0,DZD,3.02,0.8,0.28,169988236398,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054,41.2,37.2,66.1,11.70,31510100,28.033886,1.659626
3,Andorra,164,AD,40.0,468,nan,7.20,376.0,Andorra la Vella,469,nan,NaN,EUR,1.27,34.0,1.51,3154057987,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142,NaN,NaN,NaN,NaN,67873,42.506285,1.521801
4,Angola,26,AO,47.5,1246700,117000,40.73,244.0,Luanda,34693,261.73,17.1,AOA,5.52,46.3,0.97,94635415870,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295,77.5,9.2,49.1,6.89,21061025,-11.202692,17.873887

In [32]:
for col in lista_columnas:
    print(df1[col].describe())

count        195
unique       195
top       652230
freq           1
Name: land_area, dtype: object
count     195
unique    106
top       nan
freq       24
Name: armed_forces_size, dtype: object
count     195
unique    185
top       nan
freq        7
Name: co2-emissions, dtype: object
count     195
unique    194
top       nan
freq        2
Name: gdp, dtype: object
count          195
unique         195
top       38041754
freq             1
Name: population, dtype: object
count     195
unique    191
top       nan
freq        5
Name: urban_population, dtype: object
count           195
unique          195
top       33.93911
freq              1
Name: latitude, dtype: object
count            195
unique           195
top        67.709953
freq               1
Name: longitude, dtype: object
count     195
unique    137
top        25
freq        7
Name: density, dtype: object
count     195
unique    176
top       nan
freq       17
Name: cpi, dtype: object

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [ ]:
continentes = {
    'Asia': ["Philippines", 'Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'East Timor', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestinian National Authority', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Africa': ["Tunisia", "Ivory Coast", 'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Cote d\'Ivoire', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe'],
    'Europe': ["Turkey", "Republic of Ireland", "Vatican City", 'Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    "Central America":["Belize", "Saint Vincent and the Grenadines", "Saint Lucia", "Saint Kitts and Nevis", "Panama", "Nicaragua", "Mexico", "Jamaica", "Honduras", "Haiti", "Guatemala", "Grenada", "El Salvador", "Dominican Republic", "Dominica", "Cuba", "Antigua and Barbuda", "The Bahamas", "Barbados"," Belize", "Costa Rica",  ], 
    'North America': ['Canada', 'United States'],
    'South America': ["Trinidad and Tobago", 'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'Oceania': ["Papua New Guinea", "Federated States of Micronesia", 'Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Nauru', 'New Zealand', 'Palau', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

In [33]:
df1.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,652230,323000,32.49,93.0,Kabul,8672,149.9,2.3,AFN,4.47,2.1,0.70,19101353833,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754,48.9,9.3,71.4,11.12,9797273,33.93911,67.709953
1,Albania,105,AL,43.1,28748,9000,11.78,355.0,Tirana,4536,119.05,1.4,ALL,1.62,28.1,1.36,15278077447,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191,55.7,18.6,36.6,12.33,1747593,41.153332,20.168331
2,Algeria,18,DZ,17.4,2381741,317000,24.28,213.0,Algiers,150006,151.36,2.0,DZD,3.02,0.8,0.28,169988236398,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054,41.2,37.2,66.1,11.70,31510100,28.033886,1.659626
3,Andorra,164,AD,40.0,468,nan,7.20,376.0,Andorra la Vella,469,nan,NaN,EUR,1.27,34.0,1.51,3154057987,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142,NaN,NaN,NaN,NaN,67873,42.506285,1.521801
4,Angola,26,AO,47.5,1246700,117000,40.73,244.0,Luanda,34693,261.73,17.1,AOA,5.52,46.3,0.97,94635415870,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295,77.5,9.2,49.1,6.89,21061025,-11.202692,17.873887

In [ ]:
def continente (pais):
    continentes 
    if pais in diccionario["Asia"]